/* games/typing-test/typing-test.css */

@import "../../src/style.css";

h1{
  text-align: center;
}

input {
  display: block;
  margin: 1rem auto;
}

button {
    display: block;
    margin: 1rem auto;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}